@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b0f16] text-slate-100 overflow-x-hidden;
}

/* reusable glass effect */
.glass {
  @apply bg-white/10 backdrop-blur-xl border border-white/10 rounded-2xl;
}